*{
    background-color: lightgray;
}
.left{
    display: inline-block;
    background-color: white;
    width: 60%;
    height: 230px;
    margin-top: 100px;
    margin-left: 60px;
    float: left;
    border-radius: 7px;
}
.products{
    background-color: white;
}
.search-form{
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    margin-top: 5px;
}
.text-area{
    background-color: white;
    width: 80%;
    height: 40px;
    float: left;
    padding-left: 15px;

}
.add-button{
    background-color: #2185D0;
    color: white;
    width: 15%;
    height: 46px;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 5px 8px -3px darkblue;

}

.name-of-item{
    background-color: white;
    display: inline-block;
    width: 25%;
    padding: 7px;
    padding-left: 20px;
    color: rgba(0,0,0,.87);
}
.quantity-of-item{
    width: 25%;
    display: inline-block;
    background-color: white;
    margin-left: 60px;


}

.red-minus-icon{
    display: inline-block;
    color: white;
    background-color: #f09797;
    border: 0;
    width: 15%;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    padding-bottom: 5px;
    box-shadow: 0 5px 8px -3px darkred;
}
.green-plus-button{
    display: inline-block;
    color: white;
    background-color: #21BA45;
    border: 0;
    width: 15%;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 5px 8px -2px darkgreen;
}
.counter{
    display: inline-block;
    width: 8%;
    height: 20px;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 5px;
    background-color: #E8E8E8;
    font-size: .85714286rem;
}
.red-delete-button{
    display: inline-block;
    color: white;
    background-color: #DB2828;
    width: 4%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    float: right;
    margin-right: 10px;
    font-size: 10px;
    box-shadow: 0 3px 3px -1px maroon;
}

.bought-button{
    display: inline-block;
    background-color: #E8E8E8;
    width: 8%;
    border-radius: 5px;
    float: right;
    margin-right: 2%;
    font-size: 10pt;
    padding: 5px;
    text-align: center;
    box-shadow: 0 3px 3px -2px gray;
}
.right{
    display: inline-block;
    background-color: white;
    width: 25%;
    /*max-width: 350px;*/
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: 80px;
    float: left;
    border-radius: 7px;
    height: 100%;
}
.producrs-left{

    background-color: white;
    font-size: 1.28rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
}
.left-item-label{
    background-color: white;
    padding: 0.5em;

    display: inline-block;

}
.name-of-left-products{
    background-color: white;


}
.name-of-left-item{
    background-color: #E8E8E8;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;

    padding: 10px;
    font-size: .64285714rem;

}
.number-of-items{
    background-color: orange;
    color: white;
    border-radius: 20px;
    font-size: .64285714rem;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;

}

.producrs-bought {
    background-color: white;
    font-size: 1.28rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
@media (max-width: 900px){
    .right{
        width: 85%;
        margin-right: 100px;
    }
    .left{
        width: 85%;
        margin-right: 100px;
    }
    .bought-button{
        font-size: 70%;
    }

}