
.main-conteiner {

    min-width: 610px;

}

.products-container, .search-form, .producrs-left, .name-of-left-products, .producrs-bought {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}


.left, .right{
    border: 1px;
    border-style: solid;
    border-color: #6b6b6b;
}
.left {
    display: inline-block;
    background-color: white;
    width: 60%;
    margin-top: 100px;
    margin-left: 60px;
    float: left;
    border-radius: 7px;

}

.products {
    background-color: white;
}

.products-container {
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

.search-form {
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    margin-top: 5px;
}

.text-area {
    background-color: white;
    width: 80%;
    height: 40px;
    float: left;
    padding-left: 15px;
}

.add-button {
    background-color: #2185D0;
    color: white;
    width: 15%;
    height: 46px;
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-shadow: 0 5px 8px -3px darkblue;

}

.name-of-item {
    background-color: white;
    display: inline-block;
    width: 35%;
    padding: 7px;
    padding-left: 20px;
    border: none;
    color: rgba(0, 0, 0, .87);
}

.quantity-of-item {
    width: 20%;
    display: inline-block;
    background-color: white;
}

.red-minus-icon, .green-plus-button, .red-delete-button {
    display: inline-block;
    color: white;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border-radius: 10em;
    text-align: center;
    margin-bottom: 5px;
}

.red-minus-icon:disabled{
    background-color: #f09797;
    box-shadow: 0 5px 8px -3px darkred;
}
.red-minus-icon:enabled{
    background-color: #DB2828;
    box-shadow: 0 5px 8px -3px darkred;
}


.green-plus-button {
    background-color: #21BA45;
    box-shadow: 0 5px 8px -3px darkgreen;
}

.counter {
    display: inline-block;
    background-color: #E8E8E8;
    border: 0;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3px;
    vertical-align: middle;
}

.red-delete-button {
    display: inline-block;
    background-color: #DB2828;
    float: right;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    box-shadow: 0 3px 3px -1px maroon;
}

.bought-button, .unBought-button {
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-right: 5px;
    font-size: .64285714rem;
    padding-top: 1em;
    padding-bottom: 0.8em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
    box-shadow: 0 3px 3px -2px lightgray;
    width: 70px;
    float: right;
}
.unBought-button{
    display: none;

}

.condition-of-item {
    float: right;
    background-color: white;
    width: 25%;
    margin-right: 5px;
}

.right {
    display: inline-block;
    background-color: white;
    width: 25%;
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: 180px;
    float: left;
    border-radius: 7px;
    height: 100%;
}

.producrs-left {
    background-color: white;
    font-size: 1.28rem;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif
}

.left-item-label, .bought-item-label {
    background-color: white;
    padding: 0.5em;
    display: inline-block;
    display: none;
}


.name-of-left-products {
    background-color: white;
}

.name-of-left-item, .name-of-bought-item {
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    font-size: .64285714rem;
}

.number-of-items, .number-of-bought-items {
    background-color: orange;
    color: white;
    border-radius: 20px;
    font-size: .64285714rem;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;

}

.producrs-bought {
    background-color: white;
    font-size: 1.28rem;
    font-weight: bold;
    padding-top: 15px;

    padding-bottom: 15px;
    padding-left: 20px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.my-buy-list {
    display: inline-block;
    position: fixed;
    bottom: -150px;
    left: 60px;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    background-color: midnightblue;
    padding-top: 10px;
    border: 1px;
    border-style: solid;
    border-color: #6b6b6b;
    transition: all 2s ease;
}

.top-label, .bottom-label {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.bottom-label {
    font-size: 20px;
}

.my-buy-list:hover {
    background-color: #f576d7;
    transition: all 2s ease;
    bottom: -50px;
}

@media (max-width: 900px) {
    .right {
        width: 85%;
        margin-right: 100px;
    }

    .left {
        width: 85%;
        margin-right: 100px;
    }
}

@media (max-width: 700px) {
    .text-area {
        width: 78%;
    }

    .add-button {
        width: 17%;
    }

    .left, .right {
        margin-left: 30px;
    }
}

@media (max-width: 550px) {
    .left, .right {
        margin-left: 0px;
    }

}

@media print {
    .my-buy-list {
        background-color: white;
        color: magenta;
        border-color: darkblue;
        bottom: -120px;
    }

    .top-label {
        display: none;
    }
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
